@page "/ModTreeview/{modId}"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager
@using Newtonsoft.Json
@using WebModelCore;
@using WebModelCore.CodeInfo
@using WebModelCore.Common
@using WebAppCoreBlazorServer.Common
@using WebAppCoreBlazorServer.Service
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.Extensions.Configuration
@using WebAppCoreBlazorServer.BUS
@using WebCore.Entities;
@using Microsoft.Extensions.Caching.Distributed
@inject NavigationManager NavManager
@inject IModalService Modal
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@inject IConfiguration iConfiguration
@inject IDistributedCache distributedCache
@inject IModuleService moduleService

<div class="row">
    <div class="col-md-6 col-lg-6">
        @if (TreeView != null)
        {
            <WebAppCoreBlazorServer.Components.ModTreeviewParent TreeView="@TreeView" ModTreeview="@this"></WebAppCoreBlazorServer.Components.ModTreeviewParent>
        }
    </div>
    <div class="col-md-6 col-lg-6">
        @{
            if (!String.IsNullOrEmpty(RightModId))
            {
                if (RightModInfo.ModulesInfo.First().ModuleType == "03")
                {
                    <WebAppCoreBlazorServer.Pages.Search modId="@RightModId" ></WebAppCoreBlazorServer.Pages.Search>
                }
                else
                {
                    <WebAppCoreBlazorServer.Pages.Edit modId="@RightModId" modSearchId="@ModId"></WebAppCoreBlazorServer.Pages.Edit>
                }

            }
        }
    </div>
</div>
